<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Product page</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <%- include("nav") %>
    <form action="/product/add" method="post">
        <input type="text" name="title" placeholder="Enter Title">
        <input type="number" name="price" placeholder="Enter Price">
        <input type="text" name="description" placeholder="Enter Description">
        <input type="text" name="category" placeholder="Enter Category">
        <input type="url" name="image" placeholder="Enter IMG">
        <input type="number" name="stock" placeholder="Enter Stock">
        <!-- <input type="number" name="rating" placeholder="Enter Rating"> -->
        <input type="text" name="size" placeholder="Enter Size">
        <input type="text" name="color" placeholder="Enter Color">
        <input type="submit" value="Addproduct">
    </form>
</body>
</html>