<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login FORM</title>
    <link rel="stylesheet" href="../index.css">
</head>
<body>
    <%- include("nav") %>    
    
    <section class="loginForm">
        <form action="/user/login" method="post" id="form">
            <input type="email" name="email" id="email" placeholder="Enter EmailID" /><br><br>
            <input type="password" name="password" id="password" placeholder="Enter Password" /><br><br>
            <a href="/useremailPage" id="forgot">Forgot password</a>
          <input type="submit" value="Login" id="login"/>
        </form>
      </section>
    <a href="/auth/google">LOGIN WITH GOOGLE</a>
</body>
</html>