<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OTP Verification</title>
    <link rel="stylesheet" href="../otp.css" />
  </head>
  <body>
    <h1>Enter your OTP</h1>
    <div class="parent-box">
    <form action="" method="post">
        <div><input type="number" name="otp" class="otp-box" /></div>
        <div><input type="number" class="otp-box" /></div>
        <div><input type="number" class="otp-box" /></div>
        <div><input type="number" class="otp-box" /></div>
        <input type="submit" value="Verify" id="btn-submit">
      </form>
    </div>
  </body>
</html>
