<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Send Mail</title>
</head>
<body>
    <form action="/useremail" method="post">
        <label>To</label><input type="email" name="to" placeholder="Enter SenderEmail"><br><br>
        <label>Subject</label><input type="text" name="subject" placeholder="Enter Subject"><br><br>
        <label>Text</label><input type="text" name="text" placeholder="Compose email"><br><br>
        <input type="submit" value="SendOTP">
    </form>
</body>
</html>