*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    justify-content: center;
    align-items: center;
}
.parent-box{
    display: flex;
}
.parent-box .otp-box{
    width: 100px;
    height: 100px;
    margin: 0px 10px;
    border: 2px solid black;
    text-align: center;
    font-size: 28px;
}
#btn-submit{
    padding: 15px 30px;
    border: none;
    background-color: pink;
    color: black;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    transition: all ease-in-out 0.5s;
    margin: 40px 120px 0px;
}
#btn-submit:hover{
    background-color: black;
    color: gold;
}